/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";

.login-panel {
  padding: 20px;
  margin-top: 40px;
  opacity: 0.86;
  filter: alpha(opacity=60);

  h2 {
    text-align: center;
  }
}

.signing-bg {
  height: 100%;
  background-image: image-url("background-resized");
  background-size: cover;
}

span.label-primary {
    margin-left: 10px;
}

span.label-success {
    margin-left: 10px;
}

ul {
    list-style: none;
}

a.btn-danger {
    margin-left: 10px;
}

a.btn-default {
    margin-left: 10px;
}

p.lead {
    font-size: 18px;
    line-height: 0.4;
}

.pagination-container {
  text-align: center;
}
